.app-content{
    margin-top: 15vh;
}
#HeaderField{
    text-align: center;
}
.card-text{
    padding-top: 1.3rem;
    text-align: center;
}
.card-body{
    min-height: 27rem;
    text-align: center;
    color: gray;
}
