.btn-bd-yellow {
color: #4ECDC4;
border-color: #4ECDC4;
border-radius: 0.6rem;
padding-left: 0.9rem;
}
.custom-header{
    background: #336E7B;
    height: 4.3rem;
}
.nav-link{
    color: white;
    margin-left: 1.5rem;
}

#navbarResponsive {
    z-index: 1037;
    position: absolute;
    width: 100%;
    top: 72px;
    background: #4d8692fc;
    margin: 0;
}

@media (min-width: 992px){
    #navbarResponsive {
        display: none;
    }
}