.content-all{
    padding-top: 3rem;
}
#team{
    color:white;
    margin-left: 2%;
    margin-top: 1%;
}
#sidebar{
    margin-top: 1.5vw;
   margin-left: 3vw;
}
/* #example-date-input{
    margin-top: 1.5vw;
    margin-left: 1vw;
    width: 12vw;
    font-size: 1rem;
    padding: 0px 8px;
    border-radius: 0;
} */
#second{
    margin-top: 1.5vw;
    margin-left: 0.5vw;
}
/* #sizegroup{
    width: 27vw;
     margin-top: 1.5vw;
    margin-left: 1vw;
    padding: 0px 8px;
    border-radius: 0;
} */
#Selectgroup{
      margin-top: 1.5vw;
   margin-left: 5vw;
}
/* #example-time-input{
 margin-top: 1.5vw;
    margin-left: 1vw;
    width: 12vw;
    font-size: 1rem;
    padding: 0px 8px;
    border-radius: 0;
} */
#SelectAnalyst{
     margin-top: 1.5vw;
   margin-left: 4.5vw;
}
#checkbox{
    margin-left: 9.8vw;
    /* margin-top: 1vw; */
  
}
#secondbox{
    /* margin-top: 1vw; */
    margin-left: 4.7vw;
}
/* .card{
        width: 33vw;
      margin-left: 4.5vw;
      margin-top: 1vw;
} */

.user-name {
    color:  #4ECDC4;
    margin-top:2.5vw;
}

/* #button-submit{
    background: #44b9cb;
    border: 2px solid #44b9cb;
    border-radius: 1.5rem;
    width: 6vw;
    margin-left:15vw;
} */


.input-oncall {
    font-size: 1rem;
    border-radius: 0;
    padding: 5px;
}

.form-group {
    margin-bottom: 3.2vh;
}

.box-info {
    margin-left: 3.26vw;
    flex: 0 0 89.666667%;
    max-width: 89.666667%;
}

.btn-submit {
    background: #44b9cb;
    border: 2px solid #44b9cb;
    border-radius: 1.5rem;
    width: 8vw;
    padding: 6px;
    margin-top: 20px;
}

.btn-delete {
    border-radius: 1.5rem;
    width: 8vw;
    padding: 6px;
    margin-top: 20px;
    margin-left: 15px;
}


.label-topic {
    font-size: 1rem;
    color: #868686;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}


.sub-header {
    margin-top: 44px;
    padding: 0;
}

.sub-header .navbar  {
    background-color: #627485 !important;
    margin-bottom: 20px;
}

.sub-header .navbar .text  {
    font-size: 1.1rem;
    color: white;
    margin-left: 2%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

/* //// calendar */
:host /deep/ .fc-left h2 {
    font-size: 1.6rem;
    color: #868686;
    font-weight: bold;
}

:host /deep/ .fc-view-container {
    background: #fdfdfd;
}

:host /deep/ .fc-button-group  {
     visibility: hidden;
}

:host /deep/ .fc-h-event {
    cursor:pointer;
}

:host /deep/ .fc-unthemed .fc-content,
:host /deep/ .fc-unthemed .fc-divider,
:host /deep/ .fc-unthemed .fc-list-heading td,
:host /deep/ .fc-unthemed .fc-list-view,
:host /deep/ .fc-unthemed .fc-popover,
:host /deep/ .fc-unthemed .fc-row,
:host /deep/ .fc-unthemed tbody,
:host /deep/ .fc-unthemed td,
:host /deep/ .fc-unthemed th,
:host /deep/ .fc-unthemed thead {
    border-color: #d4d4d4;
    border-width: .1px;
}

:host /deep/ .fc-unthemed th {
    border-left: 0;
    border-right: 0;
    text-align: right;
    color: #868686;
    font-weight: 400;
}

:host /deep/ .fc-prev-button {
    background: #4ebbcd;
    color: white;
    margin-right: 5px;
}

:host /deep/ .fc-next-button {
    background: #4ebbcd;
    color: white;
}

:host /deep/ .fc-today-button  {
    color: #44b9cb;
    background: white;
    border: 1px solid #44b9cb;
}

/*:host /deep/ .fc-time  {
    display: none;
}*/
:host /deep/ .fc-timeend {
    float: right;
}


@media screen and (min-width: 1920px), screen and (min-height: 974px) {
    .sub-header {
        margin-top: 44px;
    }
}


:host /deep/ .hidden {
    display: none;
}

:host /deep/ timepicker .form-group .form-control {
    padding: 8px 0px;
}

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #6EC8D6;;
}

.custom-control-description {
    padding-left: 10px;
    font-size: 1rem;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 1rem;
    width: 22px;
    height: 22px;
    margin-top: -2.5px;
}

.custom-control-input:focus~.custom-control-indicator {
    box-shadow: none;
}

/* /////display */

.thumbnail {
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 7.5vw;
    height: 7.5vw;
    border: 2px solid #47bdcd;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }

  /*/////////////*/
  .btn-calendar-action {
      position: absolute;
      top: -45;
      text-align: right;
      right: 22px;
  }

  .btn-calendar-action .btn {
        background: #44b9cb;
        border: 2px solid #44b9cb;
        border-radius: 0.2rem;
        width: 63px;
        padding: 6px;
        font-size: 14px;
        margin: 0 2px;
  }

  :host /deep/ .fc-today-button {
      display:none;
  }

  .btn-today {
    background-color: white !important;
    color: #44b9cb !important;
  }

  
@media screen and (min-width: 1285px),
screen and (min-height: 615px) {
    .sub-header .navbar {
        margin-bottom: 0px;
    }
    .sub-header .navbar .text {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .content-all {
        margin-top: 13px;
    }

    .box-calendar {
        height:450px;
    }
}

@media screen and (min-width: 1286px),
screen and (min-height: 918px) {
    .sub-header .navbar {
        margin-bottom: 30px;
    }
    .sub-header .navbar .text {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
    .box-chart {
        height: 550px !important;
    }
    .content-all {
        margin-top: 30px;
    }

    .box-calendar {
        height:470px;
    }
}

@media screen and (min-width: 1920px),
screen and (min-height: 974px) {
    .sub-header {
        margin-top: 44px;
    }
    .sub-header .navbar {
        margin-bottom: 30px;
    }
    .content-all {
        margin-top: 30px;
    }

    .box-calendar {
        height:500px;
    }

}

.box-calendar {
    padding: 5vh; padding-top: 0;
    padding-bottom: 0;
}

.btn {
    cursor: pointer;
}

:host /deep/ #tempCalendar .fc-left {
    visibility: hidden;
}

:host /deep/ #tempCalendar .fc-day-number
{
     visibility: hidden;
}

:host /deep/ #tempCalendar .fc-scroller 
{
    overflow-y: hidden !important;
}

:host /deep/ #tempCalendar td.fc-today {
    background: white !important;
}