<div class="content-all">
	<nav class="navbar navbar-dark bg-dark">
		<h6 style="font-size:1vw;" id="team">OTC Team</h6>
		<!--<li class="nav-item dropdown" id="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>-->
	</nav>

	<div class="content-2">
		<div class="row" id="col">
			<div class="team-member">
				<div class="row">
					<div class="col-1">
						<a class="btn btn-bd-blue navbar-brand js-scroll-trigger" style="color: #4ECDC4" id="borderadduser">
							<img src="./assets/img/user2.png" id="addpeople" style="width:2vw; height:2vw; margin-left:2vw;">
						</a>
					</div>
					<div class="col">
						<h1 style="font-size:3vw; margin-top:3vh; margin-left: 15vw; color: #336E7B;">Members</h1>
					</div>
				</div>

				<div class="list-group" style="margin-left:10vw;" id="list-team-member" (click)="showCard()">
					<!--*ngFor = "let item of info"-->
					<!--<h1 style="font-size:20vw;"> {{item.GroupUserID}}</h1>-->
					<a href="#" class="list-group-item list-group-item-action active">
						Cras justo odio
					</a>
					<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
					<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
					<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
				</div>
			</div>

			<div class="hello" style="padding-left: 6%; margin-top:3vh;">
				<div class="card-title">
					<div class="card border-info mb-3" style="width:48vw;">
						<div class="card-header">
							<h3 class="lead" style="font-size:1.2vw">Information detail</h3>
						</div>
						<div class="card-body text-info">
							<div class="row" id="image">
								<div class="picture">
									<img [src]="getProfileImageURL()" id="Userimage">
								</div>
								<div class="info">
									<div class="button2">
										<button type="button" class="btn btn-info">
											<h4 style="font-size:0.7vw;" id="button2">Edit</h4>
										</button>
										<button type="button" class="btn btn-danger">
											<h4 style="font-size:0.7vw;" id="button2">Delete </h4>
										</button>
									</div>
									<div class="detail">
										<h4 class="card-title" style="font-size:2vw; ">{{username}}</h4>
										<p class="card-text" style="font-size:1.2vw">krichpas.khuthanom@exxonmobil.com</p>
									</div>

								</div>
							</div>
						</div>
						<!--<hr width="90%" color=l ightslategray size=1>-->
						<div class="info">
							<div class="row">
								<div class="col-4">
									<h3 style="font-size:1.2vw;">Domain</h3>
								</div>
								<div class="col">
									<h3 style="font-size:1.2vw;">LAN ID</h3>
								</div>
								<!--<h3 style="font-size:1.5vw;">Domain</h3>
								<h3 style="font-size:1.5vw;">LAN ID</h3>-->
							</div>
							<div class="row">
								<div class="col-4">
									<h1 class="lead" style="font-size:1.2vw;">AP</h1>
								</div>
								<div class="col">
									<h1 class="lead" style="font-size:1.2vw; ">KKHUMTH</h1>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<h3 style="font-size:1.2vw; ">Shared mailbox</h3>
								</div>
								<div class="col">
									<h3 style="font-size:1.2vw; ">Alternative email</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<h1 class="lead" style="font-size:1.2vw;">-</h1>
								</div>
								<div class="col">
									<h1 class="lead" style="font-size:1.2vw; ">krichpas.khuthanom@exxonmobil.com</h1>
								</div>
							</div>
						</div>
						<hr width="85%" color=lightslategray size=3>
						<div class="checkbox">
							<div class="row">
								<div class="col-4">
									<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">
											<b style="font-size:1vw;">Admin</b>
										</span>
									</label>
								</div>
								<div class="col">
									<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">
											<b style="font-size:1vw;">Work Hour Receiver</b>
										</span>
									</label>

								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">
											<b style="font-size:1vw;">Level2</b>
										</span>
									</label>
								</div>
								<div class="col">
									<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">
											<b style="font-size:1vw;">Acknowledgement</b>
										</span>
									</label>
									<hr>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>