.modal-content{
    width: 39vw;
    height: 30vh;
    text-align: center;
    margin-top: 50%; 
}
body { font-family: Verdana, sans-serif; }
h1,h2 { font-family: Garamond, "Times New Roman", serif; }










