<div class="container  border-info" style="margin-top: 10px;">
  <div class="row" style="min-height: 550px;">
    <div class="col-11 align-items-center">
      <div class="row align-items-center no-gutters top-content" >
        <div class="col-4 box-pic">
          <div class="thumbnail">
            <img src="./../assets/img/user1.png"  alt="Image" />
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col">
        <hr>
        <div class="row">
          <div class="col">
            <div class="display-group">
              <label class="mt-0">Domain <span style="color: red;">*</span></label>
              <!-- <p class="color-info">AP</p> -->
              <input type="text" class="form-control input-underline" [(ngModel)]="userDomain" required>
            </div>
          </div>
          <div class="col">
            <div class="display-group">
              <label class="mt-0">LAN ID <span style="color: red;">*</span></label>
              <!-- <p class="color-info">KKHUMTH</p> -->
              <input type="text" class="form-control input-underline" [(ngModel)]="userLanId" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="display-group">
              <label>Shared mailbox</label>
              <!-- <p class="color-default">-</p> -->
              <input type="text" class="form-control input-underline" [(ngModel)]="userSharedMail">
            </div>
          </div>
          <div class="col">
            <div class="display-group">
              <label>Alternative email</label>
              <!-- <p class="color-default">KKHUMTH@gmail.com</p> -->
              <input type="email" class="form-control input-underline" [(ngModel)]="userAlternativeMail">
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-3">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input" [checked]="IsGroupAdministrator" 
              (change)="IsGroupAdministrator = !IsGroupAdministrator">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">
                Admin
              </span>
            </label>
          </div>

          <div class="col-7">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input" [checked]="IsWorkHourReceiver" 
              (change)="IsWorkHourReceiver = !IsWorkHourReceiver">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">
                Work Hour Receiver
              </span>
            </label>
          </div>
          <div class="col-3">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input" [checked]="IsEscalationReceiver" 
              (change)="IsEscalationReceiver = !IsEscalationReceiver">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">
                Level2
              </span>
            </label>
          </div>
          <div class="col">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input" [checked]="IsAcknowledgeResultReceiver" 
              (change)="IsAcknowledgeResultReceiver = !IsAcknowledgeResultReceiver">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">
                Acknowledgement
              </span>
            </label>
          </div>

        </div>
        <div class="row box-btn">
          <button *ngIf="userDomain != '' && userLanId != ''" type="button" class="btn btn-info btn-save" (click)="addUserOnGroup()">Save</button>
          <button *ngIf="userDomain == '' && userLanId != ''" type="button" class="btn btn-info btn-save" (click)="openModal(ValidateDomain)">Save</button>
          <button *ngIf="userLanId == '' && userDomain != ''" type="button" class="btn btn-info btn-save" (click)="openModal(ValidateLanId)">Save</button>
          <button *ngIf="userDomain == '' && userLanId == ''" type="button" class="btn btn-info btn-save" (click)="openModal(ValidateDomain)">Save</button>
          
          <button type="button" class="btn btn-danger btn-cancel" (click)="back()" routerLink="/member/detail/{{groupId}}">Cancel</button>
        </div>
      </div>

    </div>
    <div class="col-1" style="background-color: #47bdcd;" id ="BarColor">

    </div>
  </div>

</div>

<!-- modal -->
<template #ValidateDomain>

 <div class="modal-header">
  <h4 class="modal-title pull-left">Information required</h4>

</div>
<div class="modal-body">
  <p style="font-weight: 500; margin-bottom: 20px;
  margin-top: 5px;">Please fill Domain to proceed</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger btn-cancel" aria-label="Close" (click)="modalRef.hide()">Close</button>

</div>

</template>


<template #ValidateLanId>
  
   <div class="modal-header">
    <h4 class="modal-title pull-left">Information required</h4>
  
  </div>
  <div class="modal-body">
    <p style="font-weight: 500; margin-bottom: 20px;
    margin-top: 5px;">Please fill Lan ID to proceed</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-cancel" aria-label="Close" (click)="modalRef.hide()">Close</button>
  
  </div>
  
  </template>