/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("Capture.png");
    background-repeat: repeat;
    background-color: black;
}

@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";