<div class="container" style="margin: auto; margin-top: 22vh;">
	<div class="text-title">
		<h1 class="text-center" style="font-size:3vw; color: #44b9cb;">Which team are you?</h1>
	</div>
	<div class="dropteam">
		<div class="dropdown">
			<select class="form-control" [(ngModel)]="teamSelected" required >
				<option *ngFor="let team of teamList" [ngValue]="team" [disabled]="team.groupID == 0">{{team.name}}</option>
			</select>
		</div>

		<button type="button" class="btn btn-primary button-submit" (click)="submitTeam()">
			GO
		</button>
	</div>
</div>