
.dropteam{
    /* margin-top: 3%; */
    justify-content: center;
    text-align: center;
}

.dropdown {
    margin-top: 7vh;
    margin-bottom: 7vh;
}

select {
    margin: auto;
    width: 38vw;
    height: 45px !important;
    text-transform: uppercase;
    border-radius: 0;

}


.dropdown-item{
     width: 38vw;
    height: 3vw;
}

.button-submit{
    background: #44b9cb;
    border: 2px solid #44b9cb;
    border-radius: 2rem;
    padding: 1.2vh;
    width: 8vw;
    max-width: 120px;
}
