.app-content{
    margin-top: 7rem;
}

.section-title{
    height:90px;
    padding-left: 5%;
}
.section-button{
    /*background: palegreen;*/
    height: 7rem;
    text-align: center;
    align-content: center;
    margin-top: 6%;
    margin-bottom: 8%;
}
.section-content{
    margin-top: 2%;
}
.section-data{
    background:white;
    margin-top: 10%;
    /* height: 57rem; */
    width: 70%;
    margin: auto;
}
#clickhere{
    color:transparent;
    border: transparent;
    background: transparent;
}
#example-text-input{
 width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #44b9cb;
}
/*.form-control{
    width: 30vw;

    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #44b9cb;
}*/
input {
    width: 10vw;
    padding: 0 20px;
}

input,
input::-webkit-input-placeholder {
    font-size: 1.8vw;
    line-height: 1;
}
.dropdown{
    
}
#dropdownMenuButton{
    width: 100%;
    /* height: 3vw; */
    background:whitesmoke;
    color: gray;
    padding: 12px 0;
    /*border: gray;*/
}
.dropdown-item{
     /* width: 38vw;
    height: 3vw; */
    padding: 10px 15px;
}
#example-text-description{
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #44b9cb;
    width: 38vw;
    height: 7vw;
}
#shift-logo{
    padding-top: 2%;
}
.test{
       width: 8vw;
       height: 5.5vh;
}
#button-submit{
    background: #44b9cb;
    border: 2px solid #44b9cb;
    border-radius: 2vw;
    padding: 11px 30px;
}
a.anchor {
 padding-top: 100px;
}



.form-control:disabled {
    background: transparent;
}